 .footer {
    background-color: black;
    color: floralwhite;
}

.jumbotron {
    background-color: #8B78E6;
}

.row2:hover{
    padding: 0px auto;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512da8;
}