 .footer {
    padding: 50px 0px 0px 0px;
    background-color: pink;
    color: floralwhite;
}

.jumbotron {
    background-color: #8B78E6;
}

.row2:hover{
    padding: 0px auto;
}

body{
    padding: 50px 0px 50px 0px;
    z-index: 0;
    /* width: auto; */
}

.navbar-dark{
    background-color: #512da8;
}

span{
    padding: 5px 5px 5px 5px;
}

.container{
     max-width: auto;
}
